/*cores*/
:root{
    --branco: #fff;
    --verde: #3a783a ;
    --preto: #000000;
    --cinza: #A9A9A9;
    --roxo:  #9c679c;
}


/*fontes*/
@font-face {
    font-family: 'action comics';
    src: url(./action_comics/Action\ Comics.ttf);
}

@font-face {
    font-family: 'kirome';
    src: url(./kirome/Kirome.otf);
}

*{

margin: 0;
padding: 0;
}

ul {
    font-family: 'kirome';
    
}

.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  height: 700px;
  margin-left: 70%;
  border-radius: 30%;
  width: 50%;
  background-image: url(arvore.png);
  background-size: 40%;
  background-position-x: 20%;
  background-repeat: no-repeat;
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  z-index: 9999;
  margin-top: 5%;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: absolute;
  z-index: 2;
  right: 20px;
  /* left: 20px; */
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: var(--cinza);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
}
#active:checked ~ .menu-btn i:before{
  content: "\f00d";
}
.wrapper ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  z-index: 99999;
  margin-left: -10%;
  margin-top: -20%;

}
.wrapper ul li{
  margin: 15px 0;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #ddc0dd;
  text-shadow: 2px 2px #35153579;
  border-radius: 50px;
  background-color: var(--verde);
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  background: #fff;
   background: linear-gradient(#3a783a, #9c679c, #ff00e0);
 
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; 
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #fff;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

/*AAAAAAAAAAAAAAAAA*/

header {
 width: 100%;
 height: 270px;
 background-color: #581358;
 background-size: 100%;
 background-repeat: no-repeat;   
 float: left;
 display: block;
}

#folha {
  background-image: url(https://png.pngtree.com/png-vector/20230808/ourmid/pngtree-laurel-leaf-png-image_6875103.png);
  position: absolute;
  width: 300px;
  height: 255px;
  margin-left: 45%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 90%;
}



.fundo {
  width: 100%;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 14%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #a79eb9 0%, #7c6c91 100%);
  overflow: hidden;
}

.wave {
  width: 1100px;
  height: 1200px;
  position: relative;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -800px;
  border-radius: 35%;
  background: #81977dc5;
  animation: wave 30s infinite linear;
}

@keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}


#clio {
  float: left;
  display: block;
  width: 250px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(clio.png);
  margin-left: 44%;
  margin-top: 4%;
  position: absolute;
}


/*article*/
article{
    background-color: #756c85;
    width: 60%;
    height: 800px;
    display: block;
    float: left;
    font-family: 'kirome';
    position: relative;
}

.abuaba::before{
    width: 100%;
    height: 800px;
    background-image: url(flores.png);
    background-position-x: -183px;
    background-position-y: -50px;
    position: absolute;
    content: "";
    opacity: 0.5;
  
}

.caixas{
  width: 350px;
  position: absolute;
  display: block;
  float: left;
}

.caixa1{
  width: 340px;
  height: 230px;
  float: left;
  display: block;
  background-color: #999684;
  border-radius: 20%;
  box-shadow: 4px 4px #2020209a;
  margin-left: 5%;
  margin-top: 30%;
  border: 3px #fff;
  border-style: dotted;
}

#tp1 {
  margin-left: 4%;
  margin-top: 10%;
  float: left;
  display: block;
  color: #000000;
  text-shadow: 1px 1px #444144af;
  position: relative;
}

.caixa1::before{
  width: 340px;
  height: 230px;
  background-image: url(https://www.stephanieparsley.com/wp-content/uploads/2020/07/Hanging-Leaves-Stephanie-Parsley-Photography-01.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-x: 20px;
  border-radius: 18%;
  background-position-y: 2px;
  position: absolute;
  float: left;
  opacity: 0.77;
  content: "";

}

.caixa2{
  width: 340px;
  height: 230px;
  float: left;
  display: block;
  background-color: #999684;
  border-radius: 20%;
  box-shadow: 4px 4px #2020209a;
  margin-left: 5%;
  margin-top: 30%;
  border: 3px #fff;
  border-style: dotted;
}



#tp2 {
  margin-left: 4%;
  margin-top: 10%;
  float: left;
  display: block;
  color: #000000;
  text-shadow: 1px 1px #444144af;
  position: relative;
}

.caixa2::before{
  width: 340px;
  height: 230px;
  background-image: url(https://www.stephanieparsley.com/wp-content/uploads/2020/07/Hanging-Leaves-Stephanie-Parsley-Photography-01.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position-x: 20px;
  border-radius: 18%;
  background-position-y: 2px;
  position: absolute;
  float: left;
  opacity: 0.77;
  content: "";

}

/*aside*/
aside{
    background-color: #81977d;
    width: 71%;
    height: 800px;
    display: block;
    margin-left: 96%;
    
    
}

.asidea{
  overflow-y: auto;
  scrollbar-gutter: stable;
  height:100%;
}



.section::-webkit-scrollbar-track{
  background-color: #81977d;
  border-radius: 100px;
}

.section::-webkit-scrollbar-thumb{
  background-color: #581358;
  border-radius: 100px;
}

#mapa{
  width: 250px;
  height: 400px;
  border-radius: 10%;
  box-shadow: 4px 4px #374d45;
  margin-top: 5%;
  margin-left: 3%;
}

.caixinha{
  width: 95%;
  height: 500px;
  border: 2px rgb(205, 221, 217);
  border-style: dashed;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 10%;
}

#textos{
  width: 240px;
  height: 228px;
  display: block;
  float: left;
  margin-left: 2%;
  margin-top: 5%;
  background-color: #374d45;
  color: #c0cabe;
  text-shadow: 2px 2px #20202093;
}

footer{
  width: 100%;
  height: 100px;
  display: block;
  float: left;
  background-color: var(--cinza);
}

footer a{
  font-family: 'kirome';
  color: var(--preto);
  margin: 5px 5px 5px 5px;
}

footer h1{
  font-size: 20px;
  font-family: 'kirome';
  color: var(--preto);
  margin-top: 25px;
}

