/*cores*/
:root{
    --branco: #fff;
    --verde: #3a783a ;
    --preto: #000000;
    --cinza: #A9A9A9;
    --roxo:  #DDA0DD;
}


/*fontes*/
@font-face {
    font-family: 'action comics';
    src: url(./action_comics/Action\ Comics.ttf);
}

@font-face {
    font-family: 'kirome';
    src: url(./kirome/Kirome.otf);
}